body
{
    margin: 0;
    font-family: "Abhaya Libre", serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (min-width: 300px)
{
    header
    {
        width: 100vw;
    }
    
    main
    {
        width: 100vw;
    }

    footer
    {
        width: 100vw;
    }

    p
    {
        font-size: 16px;
    }
}

header
{
    background-image: url(Group\ 16.png);
    background-size: contain;
    background-color: #7BC2CC;
    height: 99px;
    width: 99vw;
}

main
{
    background-color: #C3E4EC;
    width: 99vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main nav
{
    background-color: #CEEBF6;
    width: 97.5%;
    height: 96%;
    font-family: "Abhaya Libre", serif;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
}

h2
{
    font-size: 46px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 100px;
}

a
{
    font-weight: 800;
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

button
{
    background-color: #7BC2CC;
    border: none;
    height: 80px;
    width: 30%;
    margin-bottom: 10px;
    margin-top: 50px;
    align-self: center;
    font-family: "Abhaya Libre", serif;
    font-size: 30px;
    font-weight: 800;
}

footer
{
    background-color: #AAD0E5;
    height: 20.8vh;
    display: flex;
    width: 99vw;
    flex-direction: row;
}

#footer-left
{
    display: flex;
    flex-direction: column;
    width: 77%;
    height: 60px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 800;
    padding-left: 30px;
}

#footer-right
{
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100px;
    margin-top: 30px;
    justify-self: end;
}

#footer-right img
{
    width: 200px;
    height: 100px;
}

footer nav
{
    background-color: #AAD0E5;
}

#rodape-nav-rs
{
    display: flex;
    margin-right: 10px;
    width: 80%;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#rodape-nav-rs svg
{
    height: 20px;
    width: 20px;
    margin: 0;
}

#rodape-nav-rs a
{
    border: solid 1px;
    border-color: #CEEBF6;
    background-color: #CEEBF6;
    border-radius: 50%;
    width: 550px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}